.navbar{
    background-color: chartreuse;
}
  
.navbar-brand {
    margin-left: 0.5em;
    margin-bottom: 0.5em;
    padding-bottom: 0;
    border-bottom: 4px solid #464646;
}
  
.navbar-nav{
    column-gap: 25px;
    width: 90%;
    justify-content: flex-end;
    align-items: center;
}
  
.navbar-nav li a{
    font-weight: 500;
}
  
.navbar-nav li a:hover{
    color: #000;
    text-decoration: none;
}

#navbarDropdown{
    cursor: pointer;
}

.dropdown-item{
    cursor: pointer;
}